/* Variables */

:root {
    --color-one: #0097e6;
    --color-two: #33d9b2;
    --color-three: #ff5252;
    --color-red: #ff0000;
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Inconsolata', monospace;
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 96px 0;
}