/* Variables */

:root {
    --color-one: #0097e6;
    --color-two: #33d9b2;
    --color-three: #ff5252;
    --color-red: #ff0000;
    --color-white: #ffffff;
    --transition: all 1s;
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Inconsolata', monospace;
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 96px 0;
}

/* Navigation */
nav {
    background-color: var(--color-one);
    padding: 12px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation ul ul {
    display: none;
}

.navigation ul ul li {
    display: block;
    margin-right: 12px;
    white-space: nowrap;
}


.navigation ul li a {
    text-decoration: none;
}

.navigation ul li a:hover {
    color: var(--color-two);
}

.navigation ul li:hover > ul {
    display: block;
    position: absolute;
    background-color: var(--color-white);
    padding: 0 24px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
}

/* Splash */
.splash {
    background-color: var(--color-one);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.splash h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 24px;
    line-height: 1.2;
}

.splash h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
}

/* Buttons */
.btn {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    background-position: 100% 0;
    background-size: 300%;
    transition: background-position 0.5s, color 0.3s;
}

.btn:hover {
    background-position: 0 0;
    color: var(--color-one);
}

.btn-one {
    background-image: linear-gradient(90deg, var(--color-white) 50%, transparent 50%);
    background-color: transparent;
}

.btn {
    transition: var(--transition);
}
